{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="container">

        <form action="send/" method="POST">
            
            {% csrf_token %}

            <label class="control-label"> Seu Nome</label> <br>

            <input type="text" name="name" id="name" class="form-control"> <br>
            
            <label class="control-label"> Assunto do Email</label> <br>

            <input type="text" name="subject" id="subject" class="form-control"> <br>

            <label class="control-label"> Mensagem</label> <br>
            <textarea name="message" id="message" cols="30" rows="10" class="form-control">

                
            </textarea> <br>

            <input type="submit" value="Enviar">

        </form>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>